# Advanced Pandas - Preparing Data
**Abid Ali**

Skype: Abd.Soft

Email: [abdsoftfsd@gmail.com](mailto:abdsoftfsd@gmail.com)

In [1]:
import os            # for file paths
import pandas as pd
from pandas import isnull

In [2]:
# Master.csv
master = pd.read_csv(os.path.join('data','Master.csv'))
master.head()

,playerID,coachID,hofID,firstName,lastName,nameNote,nameGiven,nameNick,height,weight,...,birthDay,birthCountry,birthState,birthCity,deathYear,deathMon,deathDay,deathCountry,deathState,deathCity
0,aaltoan01,NaN,NaN,Antti,Aalto,NaN,Antti,NaN,73.0,210.0,...,4.0,Finland,NaN,Lappeenranta,NaN,NaN,NaN,NaN,NaN,NaN
1,abbeybr01,NaN,NaN,Bruce,Abbey,NaN,Bruce,NaN,73.0,185.0,...,18.0,Canada,ON,Toronto,NaN,NaN,NaN,NaN,NaN,NaN
2,abbotge01,NaN,NaN,George,Abbott,NaN,George Henry,Preacher,67.0,153.0,...,3.0,Canada,ON,Synenham,NaN,NaN,NaN,NaN,NaN,NaN
3,abbotre01,NaN,NaN,Reg,Abbott,NaN,Reginald Stewart,NaN,71.0,164.0,...,4.0,Canada,MB,Winnipeg,NaN,NaN,NaN,NaN,NaN,NaN
4,abdelju01,NaN,NaN,Justin,Abdelkader,NaN,NaN,NaN,73.0,195.0,...,25.0,USA,MI,Muskegon,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
master.shape

(7761, 31)

In [4]:
master.columns

Index(['playerID', 'coachID', 'hofID', 'firstName', 'lastName', 'nameNote',
       'nameGiven', 'nameNick', 'height', 'weight', 'shootCatch', 'legendsID',
       'ihdbID', 'hrefID', 'firstNHL', 'lastNHL', 'firstWHA', 'lastWHA', 'pos',
       'birthYear', 'birthMon', 'birthDay', 'birthCountry', 'birthState',
       'birthCity', 'deathYear', 'deathMon', 'deathDay', 'deathCountry',
       'deathState', 'deathCity'],
      dtype='object')

In [12]:
# Braces let us structure the code in a more readable way
(master['playerID']
    .pipe(isnull)
    .value_counts())

False    7520
True      241
Name: playerID, dtype: int64

In [13]:
# This is an alternative to:
isnull(master['playerID']).value_counts()

False    7520
True      241
Name: playerID, dtype: int64

In [15]:
master_original = master.copy()

In [16]:
master.dropna(subset=['playerID'], inplace=True)
master.shape

(7520, 31)

In [17]:
master.columns

Index(['playerID', 'coachID', 'hofID', 'firstName', 'lastName', 'nameNote',
       'nameGiven', 'nameNick', 'height', 'weight', 'shootCatch', 'legendsID',
       'ihdbID', 'hrefID', 'firstNHL', 'lastNHL', 'firstWHA', 'lastWHA', 'pos',
       'birthYear', 'birthMon', 'birthDay', 'birthCountry', 'birthState',
       'birthCity', 'deathYear', 'deathMon', 'deathDay', 'deathCountry',
       'deathState', 'deathCity'],
      dtype='object')

In [18]:
# Drop rows where no data for NHL years
master = master.dropna(subset=['firstNHL', 'lastNHL'], how='all')
master.shape

(6851, 31)

In [19]:
master.dtypes

playerID         object
coachID          object
hofID            object
firstName        object
lastName         object
nameNote         object
nameGiven        object
nameNick         object
height          float64
weight          float64
shootCatch       object
legendsID        object
ihdbID          float64
hrefID           object
firstNHL        float64
lastNHL         float64
firstWHA        float64
lastWHA         float64
pos              object
birthYear       float64
birthMon        float64
birthDay        float64
birthCountry     object
birthState       object
birthCity        object
deathYear       float64
deathMon        float64
deathDay        float64
deathCountry     object
deathState       object
deathCity        object
dtype: object

In [21]:
master = master.loc[master['lastNHL'] >= 1980]
master.shape

(4627, 31)

In [22]:
master.columns

Index(['playerID', 'coachID', 'hofID', 'firstName', 'lastName', 'nameNote',
       'nameGiven', 'nameNick', 'height', 'weight', 'shootCatch', 'legendsID',
       'ihdbID', 'hrefID', 'firstNHL', 'lastNHL', 'firstWHA', 'lastWHA', 'pos',
       'birthYear', 'birthMon', 'birthDay', 'birthCountry', 'birthState',
       'birthCity', 'deathYear', 'deathMon', 'deathDay', 'deathCountry',
       'deathState', 'deathCity'],
      dtype='object')

In [23]:
columns_to_keep = ['playerID', 'firstName', 'lastName', 'pos',
                   'birthYear', 'birthMon', 'birthDay', 'birthCountry', 'birthState',
                   'birthCity']
master[columns_to_keep].head()

,playerID,firstName,lastName,pos,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity
0,aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta
4,abdelju01,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon
9,abidra01,Ramzi,Abid,L,1980.0,3.0,24.0,Canada,QC,Montreal
11,abrahth01,Thommy,Abrahamsson,D,1947.0,4.0,12.0,Sweden,NaN,Leksand
14,actonke01,Keith,Acton,C,1958.0,4.0,15.0,Canada,ON,Stouffville

In [24]:
master.filter(columns_to_keep).head()

,playerID,firstName,lastName,pos,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity
0,aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta
4,abdelju01,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon
9,abidra01,Ramzi,Abid,L,1980.0,3.0,24.0,Canada,QC,Montreal
11,abrahth01,Thommy,Abrahamsson,D,1947.0,4.0,12.0,Sweden,NaN,Leksand
14,actonke01,Keith,Acton,C,1958.0,4.0,15.0,Canada,ON,Stouffville

In [25]:
master.shape

(4627, 31)

In [27]:
master_modified = master.copy()
master = master.filter(columns_to_keep)
master.shape

(4627, 10)

In [28]:
master = master_modified.copy()
master.shape

(4627, 31)

In [29]:
master.filter(regex="(playerID|pos|^birth)|(Name$)").columns

Index(['playerID', 'firstName', 'lastName', 'pos', 'birthYear', 'birthMon',
       'birthDay', 'birthCountry', 'birthState', 'birthCity'],
      dtype='object')

In [30]:
master.filter(regex="(playerID|pos|^birth|Name$)").columns

Index(['playerID', 'firstName', 'lastName', 'pos', 'birthYear', 'birthMon',
       'birthDay', 'birthCountry', 'birthState', 'birthCity'],
      dtype='object')

In [31]:
master = master.filter(regex="(playerID|pos|^birth|Name$)")
master.shape

(4627, 10)

In [32]:
master.columns

Index(['playerID', 'firstName', 'lastName', 'pos', 'birthYear', 'birthMon',
       'birthDay', 'birthCountry', 'birthState', 'birthCity'],
      dtype='object')

In [33]:
def mem_mib(df):
    print("{0:.2f} MiB".format(
        df.memory_usage().sum() / (1024 * 1024)
    ))

mem_mib(master)
mem_mib(master_original)

0.39 MiB
1.84 MiB

In [34]:
master["pos"].value_counts()

D      1418
C      1037
L       848
R       832
G       463
F        28
L/C       1
Name: pos, dtype: int64

In [35]:
pd.Categorical(master["pos"])

['C', 'L', 'L', 'D', 'C', ..., 'R', 'L', 'L', 'C', 'D']
Length: 4627
Categories (7, object): ['C', 'D', 'F', 'G', 'L', 'L/C', 'R']

In [36]:
def make_categorical(df, col_name):
    df.loc[:, col_name] = pd.Categorical(df[col_name])

In [37]:
make_categorical(master, "pos")
make_categorical(master, "birthCountry")
make_categorical(master, "birthState")
mem_mib(master)

0.30 MiB

In [38]:
master.head()

,playerID,firstName,lastName,pos,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity
0,aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta
4,abdelju01,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon
9,abidra01,Ramzi,Abid,L,1980.0,3.0,24.0,Canada,QC,Montreal
11,abrahth01,Thommy,Abrahamsson,D,1947.0,4.0,12.0,Sweden,NaN,Leksand
14,actonke01,Keith,Acton,C,1958.0,4.0,15.0,Canada,ON,Stouffville

In [39]:
master = master.set_index('playerID')
master.head()

,firstName,lastName,pos,birthYear,birthMon,birthDay,birthCountry,birthState,birthCity
playerID,,,,,,,,,
aaltoan01,Antti,Aalto,C,1975.0,3.0,4.0,Finland,NaN,Lappeenranta
abdelju01,Justin,Abdelkader,L,1987.0,2.0,25.0,USA,MI,Muskegon
abidra01,Ramzi,Abid,L,1980.0,3.0,24.0,Canada,QC,Montreal
abrahth01,Thommy,Abrahamsson,D,1947.0,4.0,12.0,Sweden,NaN,Leksand
actonke01,Keith,Acton,C,1958.0,4.0,15.0,Canada,ON,Stouffville

In [41]:
master.to_pickle(os.path.join('data','modified', 'master.pickle'))
master.to_csv(os.path.join('data', 'modified', 'master.csv'))

# Scoring.csv

In [59]:
original_scoring = pd.read_csv(os.path.join('data', 'Scoring.csv'))
scoring = original_scoring.copy()
mem_mib(scoring)
scoring.shape

10.87 MiB

(45967, 31)

In [60]:
def recent_nhl_only(df):
    return df[(df["lgID"] == "NHL") & (df["year"] >= 1980)]

scoring = recent_nhl_only(scoring)
scoring.shape

(28616, 31)

In [61]:
scoring.columns

Index(['playerID', 'year', 'stint', 'tmID', 'lgID', 'pos', 'GP', 'G', 'A',
       'Pts', 'PIM', '+/-', 'PPG', 'PPA', 'SHG', 'SHA', 'GWG', 'GTG', 'SOG',
       'PostGP', 'PostG', 'PostA', 'PostPts', 'PostPIM', 'Post+/-', 'PostPPG',
       'PostPPA', 'PostSHG', 'PostSHA', 'PostGWG', 'PostSOG'],
      dtype='object')

In [62]:
scoring = scoring.filter(regex="^(?!(Post|PP|SH)).*")
scoring.head()

,playerID,year,stint,tmID,lgID,pos,GP,G,A,Pts,PIM,+/-,GWG,GTG,SOG
0,aaltoan01,1997,1,ANA,NHL,C,3.0,0.0,0.0,0.0,0.0,-1.0,0.0,0.0,1.0
1,aaltoan01,1998,1,ANA,NHL,C,73.0,3.0,5.0,8.0,24.0,-12.0,0.0,0.0,61.0
2,aaltoan01,1999,1,ANA,NHL,C,63.0,7.0,11.0,18.0,26.0,-13.0,1.0,0.0,102.0
3,aaltoan01,2000,1,ANA,NHL,C,12.0,1.0,1.0,2.0,2.0,1.0,0.0,0.0,18.0
7,abdelju01,2007,1,DET,NHL,L,2.0,0.0,0.0,0.0,2.0,0.0,0.0,NaN,6.0

In [63]:
cols = scoring.columns
cols

Index(['playerID', 'year', 'stint', 'tmID', 'lgID', 'pos', 'GP', 'G', 'A',
       'Pts', 'PIM', '+/-', 'GWG', 'GTG', 'SOG'],
      dtype='object')

In [64]:
cols[[0,1,3,6,7,8,9,14]]

Index(['playerID', 'year', 'tmID', 'GP', 'G', 'A', 'Pts', 'SOG'], dtype='object')

In [65]:
cols_to_keep = ['playerID', 'year', 'tmID', 'GP', 'G', 'A', 'Pts', 'SOG']
scoring = scoring.filter(cols_to_keep)
scoring.head()

    playerID  year tmID    GP    G     A   Pts    SOG
0  aaltoan01  1997  ANA   3.0  0.0   0.0   0.0    1.0
1  aaltoan01  1998  ANA  73.0  3.0   5.0   8.0   61.0
2  aaltoan01  1999  ANA  63.0  7.0  11.0  18.0  102.0
3  aaltoan01  2000  ANA  12.0  1.0   1.0   2.0   18.0
7  abdelju01  2007  DET   2.0  0.0   0.0   0.0    6.0

In [70]:
scoring['tmID'].value_counts()

PIT    1166
NYR    1160
TOR    1159
LAK    1158
NYI    1155
BOS    1147
PHI    1133
CAL    1121
WAS    1120
EDM    1120
CHI    1114
STL    1107
VAN    1096
MTL    1082
BUF    1080
DET    1039
NJD     989
TBL     715
SJS     679
OTT     673
FLO     656
DAL     637
HAR     633
WIN     584
QUE     572
PHO     557
COL     548
MNS     507
CAR     464
NAS     463
CBS     423
ANA     422
ATL     410
MIN     384
AND     224
COR      81
WPG      38
Name: tmID, dtype: int64

In [71]:
make_categorical(scoring, 'tmID')
scoring.head()

    playerID  year tmID    GP    G     A   Pts    SOG
0  aaltoan01  1997  ANA   3.0  0.0   0.0   0.0    1.0
1  aaltoan01  1998  ANA  73.0  3.0   5.0   8.0   61.0
2  aaltoan01  1999  ANA  63.0  7.0  11.0  18.0  102.0
3  aaltoan01  2000  ANA  12.0  1.0   1.0   2.0   18.0
7  abdelju01  2007  DET   2.0  0.0   0.0   0.0    6.0

In [72]:
scoring.reset_index().head()

   index   playerID  year tmID    GP    G     A   Pts    SOG
0      0  aaltoan01  1997  ANA   3.0  0.0   0.0   0.0    1.0
1      1  aaltoan01  1998  ANA  73.0  3.0   5.0   8.0   61.0
2      2  aaltoan01  1999  ANA  63.0  7.0  11.0  18.0  102.0
3      3  aaltoan01  2000  ANA  12.0  1.0   1.0   2.0   18.0
4      7  abdelju01  2007  DET   2.0  0.0   0.0   0.0    6.0

In [74]:
scoring.reset_index(drop=True, inplace=True)
scoring.head()

    playerID  year tmID    GP    G     A   Pts    SOG
0  aaltoan01  1997  ANA   3.0  0.0   0.0   0.0    1.0
1  aaltoan01  1998  ANA  73.0  3.0   5.0   8.0   61.0
2  aaltoan01  1999  ANA  63.0  7.0  11.0  18.0  102.0
3  aaltoan01  2000  ANA  12.0  1.0   1.0   2.0   18.0
4  abdelju01  2007  DET   2.0  0.0   0.0   0.0    6.0

In [75]:
scoring.to_pickle(os.path.join('data','modified','scoring.pickle'))
scoring.to_csv(os.path.join('data','modified','scoring.csv'))

# Team.csv

In [78]:
teams = pd.read_csv(os.path.join('data', 'Teams.csv'))
teams.shape

(1519, 27)

In [79]:
teams.columns

Index(['year', 'lgID', 'tmID', 'franchID', 'confID', 'divID', 'rank',
       'playoff', 'G', 'W', 'L', 'T', 'OTL', 'Pts', 'SoW', 'SoL', 'GF', 'GA',
       'name', 'PIM', 'BenchMinor', 'PPG', 'PPC', 'SHA', 'PKG', 'PKC', 'SHF'],
      dtype='object')

In [80]:
teams = recent_nhl_only(teams)
teams = teams[['year','tmID', 'name']]
teams.head()

     year tmID                 name
727  1980  BOS        Boston Bruins
728  1980  BUF       Buffalo Sabres
729  1980  CAL       Calgary Flames
730  1980  CHI  Chicago Black Hawks
731  1980  COR     Colorado Rockies

In [81]:
teams.shape

(792, 3)

In [82]:
teams.nunique()

year    31
tmID    37
name    37
dtype: int64

In [83]:
make_categorical(teams, 'tmID')

In [84]:
teams.to_pickle(os.path.join('data', 'modified', 'teams.pickle'))
teams.to_csv(os.path.join('data', 'modified', 'teams.csv'))

# TeamSplits.csv

In [85]:
team_splits = pd.read_csv(os.path.join('data', 'TeamSplits.csv'))
team_splits.shape

(1519, 43)

In [86]:
team_splits.columns

Index(['year', 'lgID', 'tmID', 'hW', 'hL', 'hT', 'hOTL', 'rW', 'rL', 'rT',
       'rOTL', 'SepW', 'SepL', 'SepT', 'SepOL', 'OctW', 'OctL', 'OctT',
       'OctOL', 'NovW', 'NovL', 'NovT', 'NovOL', 'DecW', 'DecL', 'DecT',
       'DecOL', 'JanW', 'JanL', 'JanT', 'JanOL', 'FebW', 'FebL', 'FebT',
       'FebOL', 'MarW', 'MarL', 'MarT', 'MarOL', 'AprW', 'AprL', 'AprT',
       'AprOL'],
      dtype='object')

In [87]:
team_splits = recent_nhl_only(team_splits)

In [88]:
team_splits.columns

Index(['year', 'lgID', 'tmID', 'hW', 'hL', 'hT', 'hOTL', 'rW', 'rL', 'rT',
       'rOTL', 'SepW', 'SepL', 'SepT', 'SepOL', 'OctW', 'OctL', 'OctT',
       'OctOL', 'NovW', 'NovL', 'NovT', 'NovOL', 'DecW', 'DecL', 'DecT',
       'DecOL', 'JanW', 'JanL', 'JanT', 'JanOL', 'FebW', 'FebL', 'FebT',
       'FebOL', 'MarW', 'MarL', 'MarT', 'MarOL', 'AprW', 'AprL', 'AprT',
       'AprOL'],
      dtype='object')

In [89]:
cols_to_drop = team_splits.columns[3:11]
cols_to_drop

Index(['hW', 'hL', 'hT', 'hOTL', 'rW', 'rL', 'rT', 'rOTL'], dtype='object')

In [90]:
team_splits = team_splits.drop(columns=cols_to_drop)

In [91]:
team_splits.columns

Index(['year', 'lgID', 'tmID', 'SepW', 'SepL', 'SepT', 'SepOL', 'OctW', 'OctL',
       'OctT', 'OctOL', 'NovW', 'NovL', 'NovT', 'NovOL', 'DecW', 'DecL',
       'DecT', 'DecOL', 'JanW', 'JanL', 'JanT', 'JanOL', 'FebW', 'FebL',
       'FebT', 'FebOL', 'MarW', 'MarL', 'MarT', 'MarOL', 'AprW', 'AprL',
       'AprT', 'AprOL'],
      dtype='object')

In [92]:
# rows can be dropped by row_labels
# df.drop(rows=row_labels)    # <- to drop rows

In [93]:
team_splits = team_splits.drop(columns="lgID")
team_splits.columns

Index(['year', 'tmID', 'SepW', 'SepL', 'SepT', 'SepOL', 'OctW', 'OctL', 'OctT',
       'OctOL', 'NovW', 'NovL', 'NovT', 'NovOL', 'DecW', 'DecL', 'DecT',
       'DecOL', 'JanW', 'JanL', 'JanT', 'JanOL', 'FebW', 'FebL', 'FebT',
       'FebOL', 'MarW', 'MarL', 'MarT', 'MarOL', 'AprW', 'AprL', 'AprT',
       'AprOL'],
      dtype='object')

In [94]:
make_categorical(team_splits, 'tmID')

In [95]:
team_splits.to_pickle(os.path.join('data', 'modified', 'team_splits.pickle'))
team_splits.to_csv(os.path.join('data', 'modified', 'team_splits.csv'))