# Advanced Pandas - Multi Index
**Abid Ali**

Skype: Abd.Soft

Email: [abdsoftfsd@gmail.com](mailto:abdsoftfsd@gmail.com)

In [1]:
import pandas as pd
import os

In [2]:
master = pd.read_pickle(os.path.join('data','modified', 'master.pickle'))
scoring = pd.read_pickle(os.path.join('data','modified', 'scoring_merged.pickle'))
team_splits = pd.read_pickle(os.path.join('data','modified', 'team_splits_merged.pickle'))

In [3]:
scoring.head()

,firstName,lastName,pos,playerID,year,tmID,GP,G,A,Pts,SOG
0,Antti,Aalto,C,aaltoan01,1997,ANA,3.0,0.0,0.0,0.0,1.0
1,Antti,Aalto,C,aaltoan01,1998,ANA,73.0,3.0,5.0,8.0,61.0
2,Antti,Aalto,C,aaltoan01,1999,ANA,63.0,7.0,11.0,18.0,102.0
3,Antti,Aalto,C,aaltoan01,2000,ANA,12.0,1.0,1.0,2.0,18.0
4,Justin,Abdelkader,L,abdelju01,2007,DET,2.0,0.0,0.0,0.0,6.0

In [4]:
mi = scoring.set_index(['playerID', 'year'])
mi.head()

               firstName    lastName pos tmID    GP    G     A   Pts    SOG
playerID  year
aaltoan01 1997     Antti       Aalto   C  ANA   3.0  0.0   0.0   0.0    1.0
          1998     Antti       Aalto   C  ANA  73.0  3.0   5.0   8.0   61.0
          1999     Antti       Aalto   C  ANA  63.0  7.0  11.0  18.0  102.0
          2000     Antti       Aalto   C  ANA  12.0  1.0   1.0   2.0   18.0
abdelju01 2007    Justin  Abdelkader   L  DET   2.0  0.0   0.0   0.0    6.0

In [5]:
mi.index

MultiIndex([('aaltoan01', 1997),
            ('aaltoan01', 1998),
            ('aaltoan01', 1999),
            ('aaltoan01', 2000),
            ('abdelju01', 2007),
            ('abdelju01', 2008),
            ('abdelju01', 2009),
            ('abdelju01', 2010),
            ('abdelju01', 2011),
            ( 'abidra01', 2002),
            ...
            ('zyuzian01', 1999),
            ('zyuzian01', 2000),
            ('zyuzian01', 2001),
            ('zyuzian01', 2001),
            ('zyuzian01', 2002),
            ('zyuzian01', 2002),
            ('zyuzian01', 2003),
            ('zyuzian01', 2005),
            ('zyuzian01', 2006),
            ('zyuzian01', 2007)],
           names=['playerID', 'year'], length=28616)

In [6]:
len(mi.index.levels)

2

In [7]:
mi.index.nlevels

2

In [8]:
mi.index.levels[0]

Index(['aaltoan01', 'abdelju01', 'abidra01', 'abrahth01', 'actonke01',
       'adamlu01', 'adamru01', 'adamsbr01', 'adamscr01', 'adamsgr01',
       ...
       'zolniha01', 'zombori01', 'zubaran01', 'zubovil01', 'zubovse01',
       'zubruda01', 'zuccama01', 'zuckeja01', 'zukemi01', 'zyuzian01'],
      dtype='object', name='playerID', length=4627)

In [9]:
mi.index.levels[1]

Int64Index([1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990,
            1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001,
            2002, 2003, 2005, 2006, 2007, 2008, 2009, 2010, 2011],
           dtype='int64', name='year')

In [12]:
mi.groupby(level='year')['G'].max().head()

year
1980    68.0
1981    92.0
1982    71.0
1983    87.0
1984    73.0
Name: G, dtype: float64

In [15]:
mi.groupby(level='year')['G'].idxmax().head()

year
1980    (bossymi01, 1980)
1981    (gretzwa01, 1981)
1982    (gretzwa01, 1982)
1983    (gretzwa01, 1983)
1984    (gretzwa01, 1984)
Name: G, dtype: object

In [19]:
mi.loc[mi.groupby(level='year')['G'].idxmax()][['firstName', 'lastName', 'G', 'A']].head(20)

                firstName lastName     G      A
playerID  year
bossymi01 1980       Mike    Bossy  68.0   51.0
gretzwa01 1981      Wayne  Gretzky  92.0  120.0
          1982      Wayne  Gretzky  71.0  125.0
          1983      Wayne  Gretzky  87.0  118.0
          1984      Wayne  Gretzky  73.0  135.0
kurrija01 1985       Jari    Kurri  68.0   63.0
gretzwa01 1986      Wayne  Gretzky  62.0  121.0
lemiema01 1987      Mario  Lemieux  70.0   98.0
          1988      Mario  Lemieux  85.0  114.0
hullbr01  1989      Brett     Hull  72.0   41.0
          1990      Brett     Hull  86.0   45.0
          1991      Brett     Hull  70.0   39.0
mogilal01 1992  Alexander  Mogilny  76.0   51.0
burepa01  1993      Pavel     Bure  60.0   47.0
bondrpe01 1994      Peter   Bondra  34.0    9.0
lemiema01 1995      Mario  Lemieux  69.0   92.0
tkachke01 1996      Keith  Tkachuk  52.0   34.0
bondrpe01 1997      Peter   Bondra  52.0   26.0
selante01 1998      Teemu  Selanne  47.0   60.0
burepa01  1999      Pavel     Bure  58.0   36.0

In [20]:
mi.loc[('gretzwa01', 1982), :]

               firstName lastName pos tmID    GP     G      A    Pts    SOG
playerID  year
gretzwa01 1982     Wayne  Gretzky   C  EDM  80.0  71.0  125.0  196.0  348.0

In [21]:
idx = pd.IndexSlice
mi2 = mi.sort_index()

for slicing to work correctly, index must be sorted lexicographically first.

In [28]:
# mi.index.is_lexsorted()
# mi.index.is_monotonic_decreasing
mi.index.is_monotonic_increasing

True

In [29]:
sliced = mi.loc[idx[:, 1997:2000], :]
sliced.head()

               firstName lastName pos tmID    GP    G     A   Pts    SOG
playerID  year
aaltoan01 1997     Antti    Aalto   C  ANA   3.0  0.0   0.0   0.0    1.0
          1998     Antti    Aalto   C  ANA  73.0  3.0   5.0   8.0   61.0
          1999     Antti    Aalto   C  ANA  63.0  7.0  11.0  18.0  102.0
          2000     Antti    Aalto   C  ANA  12.0  1.0   1.0   2.0   18.0
adamsbr01 1999     Bryan    Adams   L  ATL   2.0  0.0   0.0   0.0    1.0

In [30]:
# range from 1997 to 2004, with a step of 2. (ending range is inclusive in pandas)
sliced = mi.loc[idx['aaltoan01': 'adamscr02', 1997:2004:2], :]
sliced.head()

               firstName lastName pos tmID    GP    G     A   Pts    SOG
playerID  year
aaltoan01 1997     Antti    Aalto   C  ANA   3.0  0.0   0.0   0.0    1.0
          1999     Antti    Aalto   C  ANA  63.0  7.0  11.0  18.0  102.0
abidra01  2003     Ramzi     Abid   L  PIT  16.0  3.0   2.0   5.0   35.0
adamsbr01 1999     Bryan    Adams   L  ATL   2.0  0.0   0.0   0.0    1.0
adamscr01 2001     Craig    Adams   R  CAR  33.0  0.0   1.0   1.0   17.0

In [31]:
# what if we want to select records from 1997 to 2000, and then 2004 to 2006
# no such built-in function available, so we can write our own

In [32]:
locs = mi.index.get_locs(
    (idx['aaltoan01': 'adamscr01', 1997:2000])
)
locs

array([ 0,  1,  2,  3, 36, 37, 38], dtype=int64)

In [33]:
sliced = mi.iloc[locs, :]
sliced.head()

               firstName lastName pos tmID    GP    G     A   Pts    SOG
playerID  year
aaltoan01 1997     Antti    Aalto   C  ANA   3.0  0.0   0.0   0.0    1.0
          1998     Antti    Aalto   C  ANA  73.0  3.0   5.0   8.0   61.0
          1999     Antti    Aalto   C  ANA  63.0  7.0  11.0  18.0  102.0
          2000     Antti    Aalto   C  ANA  12.0  1.0   1.0   2.0   18.0
adamsbr01 1999     Bryan    Adams   L  ATL   2.0  0.0   0.0   0.0    1.0

In [34]:
import numpy as np

In [35]:
def get_many_locs(df, slices):
    arr = np.empty(0, dtype='int')
    for s in slices:
        locs = df.index.get_locs((s))
        arr = np.concatenate((arr, locs))
    return arr

In [36]:
locs = get_many_locs(
    mi,
    (
        idx['aaltoan01': 'adamscr01', 1997:2000],
        idx['aaltoan01': 'adamscr01', 2004:2006]
    )
)
locs

array([ 0,  1,  2,  3, 36, 37, 38, 12, 13, 42, 43], dtype=int64)

In [37]:
sliced = mi.iloc[locs, :]
sliced.head(10)

               firstName lastName pos tmID    GP     G     A   Pts    SOG
playerID  year
aaltoan01 1997     Antti    Aalto   C  ANA   3.0   0.0   0.0   0.0    1.0
          1998     Antti    Aalto   C  ANA  73.0   3.0   5.0   8.0   61.0
          1999     Antti    Aalto   C  ANA  63.0   7.0  11.0  18.0  102.0
          2000     Antti    Aalto   C  ANA  12.0   1.0   1.0   2.0   18.0
adamsbr01 1999     Bryan    Adams   L  ATL   2.0   0.0   0.0   0.0    1.0
          2000     Bryan    Adams   L  ATL   9.0   0.0   1.0   1.0    3.0
adamscr01 2000     Craig    Adams   R  CAR  44.0   1.0   0.0   1.0   15.0
abidra01  2005     Ramzi     Abid   L  ATL   6.0   0.0   2.0   2.0    6.0
          2006     Ramzi     Abid   L  NAS  13.0   1.0   4.0   5.0   12.0
adamscr01 2005     Craig    Adams   R  CAR  67.0  10.0  11.0  21.0   68.0

In [38]:
mi = mi.sort_index(level='year')
mi.head()

               firstName     lastName pos tmID    GP     G     A   Pts    SOG
playerID  year
abrahth01 1980    Thommy  Abrahamsson   D  HAR  32.0   6.0  11.0  17.0   66.0
actonke01 1980     Keith        Acton   C  MTL  61.0  15.0  24.0  39.0  101.0
adamsgr01 1980      Greg        Adams   L  PHI   6.0   3.0   0.0   3.0    6.0
alleyst01 1980     Steve        Alley   L  HAR   8.0   2.0   2.0   4.0   10.0
allismi01 1980      Mike      Allison   L  NYR  75.0  26.0  38.0  64.0  122.0

In [39]:
mi.index.is_monotonic_increasing

False

In [40]:
try:
    mi.loc[idx[:, 1997:2000], :]
except Exception as e:
    print(e)

'MultiIndex slicing requires the index to be lexsorted: slicing on levels [1], lexsort depth 0'

In [42]:
swapped = mi.swaplevel()
swapped.head()

               firstName     lastName pos tmID    GP     G     A   Pts    SOG
year playerID
1980 abrahth01    Thommy  Abrahamsson   D  HAR  32.0   6.0  11.0  17.0   66.0
     actonke01     Keith        Acton   C  MTL  61.0  15.0  24.0  39.0  101.0
     adamsgr01      Greg        Adams   L  PHI   6.0   3.0   0.0   3.0    6.0
     alleyst01     Steve        Alley   L  HAR   8.0   2.0   2.0   4.0   10.0
     allismi01      Mike      Allison   L  NYR  75.0  26.0  38.0  64.0  122.0

In [44]:
swapped.index.is_monotonic_increasing

True

# Wide and long formats revisited

In [45]:
team_splits.head(5)

,year,tmID,SepW,SepL,SepT,SepOL,OctW,OctL,OctT,OctOL,...,FebOL,MarW,MarL,MarT,MarOL,AprW,AprL,AprT,AprOL,name
0,1980,BOS,NaN,NaN,NaN,NaN,2.0,7.0,1.0,NaN,...,NaN,8.0,4.0,3.0,NaN,1.0,2.0,0.0,NaN,Boston Bruins
1,1980,BUF,NaN,NaN,NaN,NaN,5.0,2.0,2.0,NaN,...,NaN,8.0,6.0,1.0,NaN,1.0,1.0,1.0,NaN,Buffalo Sabres
2,1980,CAL,NaN,NaN,NaN,NaN,5.0,4.0,2.0,NaN,...,NaN,6.0,6.0,2.0,NaN,2.0,0.0,0.0,NaN,Calgary Flames
3,1980,CHI,NaN,NaN,NaN,NaN,6.0,4.0,2.0,NaN,...,NaN,4.0,5.0,4.0,NaN,1.0,1.0,1.0,NaN,Chicago Black Hawks
4,1980,COR,NaN,NaN,NaN,NaN,4.0,4.0,2.0,NaN,...,NaN,4.0,9.0,1.0,NaN,0.0,1.0,2.0,NaN,Colorado Rockies

In [46]:
team_splits = team_splits.drop(columns=['tmID'])
team_splits = team_splits.set_index(['year', 'name'])
team_splits.head()

                          SepW  SepL  SepT  SepOL  OctW  OctL  OctT  OctOL  \
year name
1980 Boston Bruins         NaN   NaN   NaN    NaN   2.0   7.0   1.0    NaN
     Buffalo Sabres        NaN   NaN   NaN    NaN   5.0   2.0   2.0    NaN
     Calgary Flames        NaN   NaN   NaN    NaN   5.0   4.0   2.0    NaN
     Chicago Black Hawks   NaN   NaN   NaN    NaN   6.0   4.0   2.0    NaN
     Colorado Rockies      NaN   NaN   NaN    NaN   4.0   4.0   2.0    NaN

                          NovW  NovL  ...  FebT  FebOL  MarW  MarL  MarT  \
year name                             ...
1980 Boston Bruins         5.0   3.0  ...   2.0    NaN   8.0   4.0   3.0
     Buffalo Sabres        8.0   4.0  ...   3.0    NaN   8.0   6.0   1.0
     Calgary Flames        5.0   5.0  ...   1.0    NaN   6.0   6.0   2.0
     Chicago Black Hawks   3.0   8.0  ...   4.0    NaN   4.0   5.0   4.0
     Colorado Rockies      5.0   6.0  ...   2.0    NaN   4.0   9.0   1.0

                          MarOL  AprW  AprL  AprT  AprOL
year name
1980 Boston Bruins          NaN   1.0   2.0   0.0    NaN
     Buffalo Sabres         NaN   1.0   1.0   1.0    NaN
     Calgary Flames         NaN   2.0   0.0   0.0    NaN
     Chicago Black Hawks    NaN   1.0   1.0   1.0    NaN
     Colorado Rockies       NaN   0.0   1.0   2.0    NaN

[5 rows x 32 columns]

In [47]:
months = team_splits.columns.map(lambda x: x[0:3])
metrics = team_splits.columns.map(lambda x: x[3:len(x)])

print(months)
print(metrics)

Index(['Sep', 'Sep', 'Sep', 'Sep', 'Oct', 'Oct', 'Oct', 'Oct', 'Nov', 'Nov',
       'Nov', 'Nov', 'Dec', 'Dec', 'Dec', 'Dec', 'Jan', 'Jan', 'Jan', 'Jan',
       'Feb', 'Feb', 'Feb', 'Feb', 'Mar', 'Mar', 'Mar', 'Mar', 'Apr', 'Apr',
       'Apr', 'Apr'],
      dtype='object')
Index(['W', 'L', 'T', 'OL', 'W', 'L', 'T', 'OL', 'W', 'L', 'T', 'OL', 'W', 'L',
       'T', 'OL', 'W', 'L', 'T', 'OL', 'W', 'L', 'T', 'OL', 'W', 'L', 'T',
       'OL', 'W', 'L', 'T', 'OL'],
      dtype='object')

In [48]:
months = team_splits.columns.map(lambda x: x[0:3])
metrics = team_splits.columns.map(lambda x: x[3:])

print(months)
print(metrics)

Index(['Sep', 'Sep', 'Sep', 'Sep', 'Oct', 'Oct', 'Oct', 'Oct', 'Nov', 'Nov',
       'Nov', 'Nov', 'Dec', 'Dec', 'Dec', 'Dec', 'Jan', 'Jan', 'Jan', 'Jan',
       'Feb', 'Feb', 'Feb', 'Feb', 'Mar', 'Mar', 'Mar', 'Mar', 'Apr', 'Apr',
       'Apr', 'Apr'],
      dtype='object')
Index(['W', 'L', 'T', 'OL', 'W', 'L', 'T', 'OL', 'W', 'L', 'T', 'OL', 'W', 'L',
       'T', 'OL', 'W', 'L', 'T', 'OL', 'W', 'L', 'T', 'OL', 'W', 'L', 'T',
       'OL', 'W', 'L', 'T', 'OL'],
      dtype='object')

In [51]:
midx = pd.MultiIndex.from_arrays([months, metrics])
midx

MultiIndex([('Sep',  'W'),
            ('Sep',  'L'),
            ('Sep',  'T'),
            ('Sep', 'OL'),
            ('Oct',  'W'),
            ('Oct',  'L'),
            ('Oct',  'T'),
            ('Oct', 'OL'),
            ('Nov',  'W'),
            ('Nov',  'L'),
            ('Nov',  'T'),
            ('Nov', 'OL'),
            ('Dec',  'W'),
            ('Dec',  'L'),
            ('Dec',  'T'),
            ('Dec', 'OL'),
            ('Jan',  'W'),
            ('Jan',  'L'),
            ('Jan',  'T'),
            ('Jan', 'OL'),
            ('Feb',  'W'),
            ('Feb',  'L'),
            ('Feb',  'T'),
            ('Feb', 'OL'),
            ('Mar',  'W'),
            ('Mar',  'L'),
            ('Mar',  'T'),
            ('Mar', 'OL'),
            ('Apr',  'W'),
            ('Apr',  'L'),
            ('Apr',  'T'),
            ('Apr', 'OL')],
           )

In [52]:
team_splits.columns = midx
team_splits.head()

                         Sep              Oct                Nov       ...  \
                           W   L   T  OL    W    L    T  OL    W    L  ...
year name                                                              ...
1980 Boston Bruins       NaN NaN NaN NaN  2.0  7.0  1.0 NaN  5.0  3.0  ...
     Buffalo Sabres      NaN NaN NaN NaN  5.0  2.0  2.0 NaN  8.0  4.0  ...
     Calgary Flames      NaN NaN NaN NaN  5.0  4.0  2.0 NaN  5.0  5.0  ...
     Chicago Black Hawks NaN NaN NaN NaN  6.0  4.0  2.0 NaN  3.0  8.0  ...
     Colorado Rockies    NaN NaN NaN NaN  4.0  4.0  2.0 NaN  5.0  6.0  ...

                          Feb      Mar                Apr
                            T  OL    W    L    T  OL    W    L    T  OL
year name
1980 Boston Bruins        2.0 NaN  8.0  4.0  3.0 NaN  1.0  2.0  0.0 NaN
     Buffalo Sabres       3.0 NaN  8.0  6.0  1.0 NaN  1.0  1.0  1.0 NaN
     Calgary Flames       1.0 NaN  6.0  6.0  2.0 NaN  2.0  0.0  0.0 NaN
     Chicago Black Hawks  4.0 NaN  4.0  5.0  4.0 NaN  1.0  1.0  1.0 NaN
     Colorado Rockies     2.0 NaN  4.0  9.0  1.0 NaN  0.0  1.0  2.0 NaN

[5 rows x 32 columns]

In [53]:
team_splits = team_splits.stack(level=0)
team_splits.head(10)

                           L  OL    T    W
year name
1980 Boston Bruins  Apr  2.0 NaN  0.0  1.0
                    Dec  6.0 NaN  1.0  6.0
                    Feb  4.0 NaN  2.0  6.0
                    Jan  4.0 NaN  1.0  9.0
                    Mar  4.0 NaN  3.0  8.0
                    Nov  3.0 NaN  5.0  5.0
                    Oct  7.0 NaN  1.0  2.0
     Buffalo Sabres Apr  1.0 NaN  1.0  1.0
                    Dec  3.0 NaN  4.0  5.0
                    Feb  3.0 NaN  3.0  6.0

In [54]:
team_splits = team_splits.swaplevel(1, 2)
team_splits.head()

                          L  OL    T    W
year     name
1980 Apr Boston Bruins  2.0 NaN  0.0  1.0
     Dec Boston Bruins  6.0 NaN  1.0  6.0
     Feb Boston Bruins  4.0 NaN  2.0  6.0
     Jan Boston Bruins  4.0 NaN  1.0  9.0
     Mar Boston Bruins  4.0 NaN  3.0  8.0

In [55]:
team_splits = team_splits.reorder_levels([2,0,1])
team_splits.head()

                          L  OL    T    W
name          year
Boston Bruins 1980 Apr  2.0 NaN  0.0  1.0
                   Dec  6.0 NaN  1.0  6.0
                   Feb  4.0 NaN  2.0  6.0
                   Jan  4.0 NaN  1.0  9.0
                   Mar  4.0 NaN  3.0  8.0

In [59]:
team_splits.index.set_names('month', level=2, inplace=True)
team_splits.head()

                            L  OL    T    W
name          year month
Boston Bruins 1980 Apr    2.0 NaN  0.0  1.0
                   Dec    6.0 NaN  1.0  6.0
                   Feb    4.0 NaN  2.0  6.0
                   Jan    4.0 NaN  1.0  9.0
                   Mar    4.0 NaN  3.0  8.0

In [61]:
team_splits.groupby(level=['name', 'year']).sum().head(10)

                           L    OL     T     W
name              year
Anaheim Ducks     2006  20.0  14.0   0.0  48.0
                  2007  27.0   8.0   0.0  47.0
                  2008  33.0   7.0   0.0  42.0
                  2009  32.0  11.0   0.0  39.0
                  2010  30.0   5.0   0.0  47.0
                  2011  36.0  12.0   0.0  34.0
Atlanta Thrashers 1999  57.0   4.0   7.0  14.0
                  2000  45.0   2.0  12.0  23.0
                  2001  47.0   5.0  11.0  19.0
                  2002  39.0   5.0   7.0  31.0

In [68]:
idx = pd.IndexSlice

team_splits.index.is_monotonic_increasing

False

In [73]:
team_splits.sort_index(inplace=True)
team_splits.index.is_monotonic_increasing

True

In [75]:
team_splits.loc[idx['Anaheim Ducks', 2006]]

         L   OL   T     W
month
Apr    0.0  2.0 NaN   1.0
Dec    5.0  0.0 NaN   9.0
Feb    5.0  2.0 NaN   5.0
Jan    5.0  2.0 NaN   4.0
Mar    3.0  2.0 NaN  10.0
Nov    2.0  3.0 NaN  10.0
Oct    0.0  3.0 NaN   9.0

In [76]:
team_splits.index

MultiIndex([('Anaheim Ducks', 2006, 'Apr'),
            ('Anaheim Ducks', 2006, 'Dec'),
            ('Anaheim Ducks', 2006, 'Feb'),
            ('Anaheim Ducks', 2006, 'Jan'),
            ('Anaheim Ducks', 2006, 'Mar'),
            ('Anaheim Ducks', 2006, 'Nov'),
            ('Anaheim Ducks', 2006, 'Oct'),
            ('Anaheim Ducks', 2007, 'Apr'),
            ('Anaheim Ducks', 2007, 'Dec'),
            ('Anaheim Ducks', 2007, 'Feb'),
            ...
            ('Winnipeg Jets', 1995, 'Mar'),
            ('Winnipeg Jets', 1995, 'Nov'),
            ('Winnipeg Jets', 1995, 'Oct'),
            ('Winnipeg Jets', 2011, 'Apr'),
            ('Winnipeg Jets', 2011, 'Dec'),
            ('Winnipeg Jets', 2011, 'Feb'),
            ('Winnipeg Jets', 2011, 'Jan'),
            ('Winnipeg Jets', 2011, 'Mar'),
            ('Winnipeg Jets', 2011, 'Nov'),
            ('Winnipeg Jets', 2011, 'Oct')],
           names=['name', 'year', 'month'], length=5435)

In [82]:
unstacked = team_splits.unstack(level=['year', 'month'])

In [83]:
unstacked.head()

                     L                                               ...    W  \
year              2006                               2007            ... 1997
month              Apr  Dec  Feb  Jan  Mar  Nov  Oct  Apr  Dec  Feb  ...  Mar
name                                                                 ...
Anaheim Ducks      0.0  5.0  5.0  5.0  3.0  2.0  0.0  0.0  6.0  2.0  ...  NaN
Atlanta Thrashers  1.0  4.0  7.0  5.0  4.0  5.0  2.0  1.0  7.0  6.0  ...  NaN
Boston Bruins      4.0  5.0  5.0  9.0  9.0  4.0  5.0  1.0  8.0  4.0  ...  9.0
Buffalo Sabres     1.0  4.0  2.0  7.0  5.0  3.0  0.0  1.0  5.0  4.0  ...  9.0
Calgary Flames     4.0  4.0  4.0  3.0  4.0  4.0  6.0  1.0  1.0  6.0  ...  8.0


year                        1998
month              Nov  Oct  Apr  Dec  Feb  Jan  Mar  Nov  Oct
name
Anaheim Ducks      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
Atlanta Thrashers  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
Boston Bruins      4.0  7.0  7.0  6.0  5.0  4.0  7.0  6.0  4.0
Buffalo Sabres     3.0  4.0  4.0  9.0  4.0  5.0  5.0  6.0  4.0
Calgary Flames     2.0  3.0  2.0  4.0  5.0  4.0  7.0  6.0  2.0

[5 rows x 856 columns]

In [84]:
unstacked.index

Index(['Anaheim Ducks', 'Atlanta Thrashers', 'Boston Bruins', 'Buffalo Sabres',
       'Calgary Flames', 'Carolina Hurricanes', 'Chicago Black Hawks',
       'Chicago Blackhawks', 'Colorado Avalanche', 'Colorado Rockies',
       'Columbus Blue Jackets', 'Dallas Stars', 'Detroit Red Wings',
       'Edmonton Oilers', 'Florida Panthers', 'Hartford Whalers',
       'Los Angeles Kings', 'Mighty Ducks of Anaheim', 'Minnesota North Stars',
       'Minnesota Wild', 'Montreal Canadiens', 'Nashville Predators',
       'New Jersey Devils', 'New York Islanders', 'New York Rangers',
       'Ottawa Senators', 'Philadelphia Flyers', 'Phoenix Coyotes',
       'Pittsburgh Penguins', 'Quebec Nordiques', 'San Jose Sharks',
       'St. Louis Blues', 'Tampa Bay Lightning', 'Toronto Maple Leafs',
       'Vancouver Canucks', 'Washington Capitals', 'Winnipeg Jets'],
      dtype='object', name='name')

In [85]:
unstacked.index.nlevels

1

In [86]:
unstacked.columns

MultiIndex([('L', 2006, 'Apr'),
            ('L', 2006, 'Dec'),
            ('L', 2006, 'Feb'),
            ('L', 2006, 'Jan'),
            ('L', 2006, 'Mar'),
            ('L', 2006, 'Nov'),
            ('L', 2006, 'Oct'),
            ('L', 2007, 'Apr'),
            ('L', 2007, 'Dec'),
            ('L', 2007, 'Feb'),
            ...
            ('W', 1997, 'Mar'),
            ('W', 1997, 'Nov'),
            ('W', 1997, 'Oct'),
            ('W', 1998, 'Apr'),
            ('W', 1998, 'Dec'),
            ('W', 1998, 'Feb'),
            ('W', 1998, 'Jan'),
            ('W', 1998, 'Mar'),
            ('W', 1998, 'Nov'),
            ('W', 1998, 'Oct')],
           names=[None, 'year', 'month'], length=856)

In [90]:
unstacked.columns.names

FrozenList([None, 'year', 'month'])

In [91]:
unstacked.columns.names = ['metrics', 'year', 'month']

In [92]:
unstacked.head()

metrics              L                                               ...    W  \
year              2006                               2007            ... 1997
month              Apr  Dec  Feb  Jan  Mar  Nov  Oct  Apr  Dec  Feb  ...  Mar
name                                                                 ...
Anaheim Ducks      0.0  5.0  5.0  5.0  3.0  2.0  0.0  0.0  6.0  2.0  ...  NaN
Atlanta Thrashers  1.0  4.0  7.0  5.0  4.0  5.0  2.0  1.0  7.0  6.0  ...  NaN
Boston Bruins      4.0  5.0  5.0  9.0  9.0  4.0  5.0  1.0  8.0  4.0  ...  9.0
Buffalo Sabres     1.0  4.0  2.0  7.0  5.0  3.0  0.0  1.0  5.0  4.0  ...  9.0
Calgary Flames     4.0  4.0  4.0  3.0  4.0  4.0  6.0  1.0  1.0  6.0  ...  8.0

metrics
year                        1998
month              Nov  Oct  Apr  Dec  Feb  Jan  Mar  Nov  Oct
name
Anaheim Ducks      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
Atlanta Thrashers  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
Boston Bruins      4.0  7.0  7.0  6.0  5.0  4.0  7.0  6.0  4.0
Buffalo Sabres     3.0  4.0  4.0  9.0  4.0  5.0  5.0  6.0  4.0
Calgary Flames     2.0  3.0  2.0  4.0  5.0  4.0  7.0  6.0  2.0

[5 rows x 856 columns]

In [93]:
unstacked_copy = unstacked.copy()

In [94]:
unstacked.columns = unstacked.columns.reorder_levels([1,2,0])
unstacked.head()

year              2006                               2007            ... 1997  \
month              Apr  Dec  Feb  Jan  Mar  Nov  Oct  Apr  Dec  Feb  ...  Mar
metrics              L    L    L    L    L    L    L    L    L    L  ...    W
name                                                                 ...
Anaheim Ducks      0.0  5.0  5.0  5.0  3.0  2.0  0.0  0.0  6.0  2.0  ...  NaN
Atlanta Thrashers  1.0  4.0  7.0  5.0  4.0  5.0  2.0  1.0  7.0  6.0  ...  NaN
Boston Bruins      4.0  5.0  5.0  9.0  9.0  4.0  5.0  1.0  8.0  4.0  ...  9.0
Buffalo Sabres     1.0  4.0  2.0  7.0  5.0  3.0  0.0  1.0  5.0  4.0  ...  9.0
Calgary Flames     4.0  4.0  4.0  3.0  4.0  4.0  6.0  1.0  1.0  6.0  ...  8.0

year                        1998
month              Nov  Oct  Apr  Dec  Feb  Jan  Mar  Nov  Oct
metrics              W    W    W    W    W    W    W    W    W
name
Anaheim Ducks      NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
Atlanta Thrashers  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
Boston Bruins      4.0  7.0  7.0  6.0  5.0  4.0  7.0  6.0  4.0
Buffalo Sabres     3.0  4.0  4.0  9.0  4.0  5.0  5.0  6.0  4.0
Calgary Flames     2.0  3.0  2.0  4.0  5.0  4.0  7.0  6.0  2.0

[5 rows x 856 columns]

In [95]:
team_splits.to_pickle(os.path.join('data', 'modified', 'team_splits_mi.pickle'))
mi.to_pickle(os.path.join('data', 'modified', 'scoring_mi.pickle'))

team_splits.to_csv(os.path.join('data', 'modified', 'team_splits_mi.csv'))
mi.to_csv(os.path.join('data', 'modified', 'scoring_mi.csv'))

In [96]:
unstacked.to_csv(os.path.join('data', 'modified', 'team_splits_unstacked.csv'))